@import "../../../../assets/styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 48px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.imageWrapper {
  width: 416px;
  height: 416px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(black, 0.1);
}

.image {
  max-width: 100%;
  height: auto;
}
